.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: 3px solid #dee2e6;
    border-radius: 0.375rem;
    margin-bottom: 1rem;
    padding: 3px 7px;
}

.edit-mode{
    color: #ccc;
}